<?xml version="1.0" encoding="UTF-8"?>

<web-app metadata-complete="true"
        version="4.0"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee">

  <!--字符编码过滤器-->
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.AllMemberLogin.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddMemberServlet</servlet-name>
    <servlet-class>com.servlet.Admin.AddMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMemberServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteMemberServlet</servlet-name>
    <servlet-class>com.servlet.Admin.DeleteMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMemberServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AnalyzeServlet</servlet-name>
    <servlet-class>com.servlet.Student.AnalyzeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalyzeServlet</servlet-name>
    <url-pattern>/analyze</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SearchGradeServlet</servlet-name>
    <servlet-class>com.servlet.Student.SearchGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchGradeServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SearchClassesServlet</servlet-name>
    <servlet-class>com.servlet.Student.getStudentClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchClassesServlet</servlet-name>
    <url-pattern>/classes</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SearchCourseServlet</servlet-name>
    <servlet-class>com.servlet.Course.SearchCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCourseServlet</servlet-name>
    <url-pattern>/courses</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SearchMajorServlet</servlet-name>
    <servlet-class>com.servlet.Student.getStudentMajorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMajorServlet</servlet-name>
    <url-pattern>/majors</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>Search_or_update_GradeServlet</servlet-name>
    <servlet-class>com.servlet.Teacher.Search_or_update_GradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search_or_update_GradeServlet</servlet-name>
    <url-pattern>/search_update</url-pattern>
  </servlet-mapping>
</web-app>
